<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/adminhome.css}">
</head>

<body class="bordered1">
    <div align="center" >
	<h1 style="color:orange;">ADMIN PAGE</h1><br><br><br>
	<a href="newsong" style="color: navy;">ADD NEW SONG</a>
	<br>
	<br>
    <br>
	<a href="viewsong"  style="color: navy;">VIEW ALL SONGS</a>
	<br>
	<br>
	<br>
	<a href="createPlayLIst"  style="color: navy;">CREATE PLAY LIST</a>
	<br>
	<br>
	<br>
	<a href="viewPlayList"  style="color: navy;">VIEW ALL PLAYLIST</a>
	</div>


</body>
</html>